<%= turbo_frame_tag :tags do %>
  <div class="dropdown">
    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Categorias
    </button>
    <ul class="dropdown-menu tag_list" aria-labelledby="dropdownMenuButton1">
      <%= render @tags %>
    </ul>
  </div>
<% end %>
