<%= turbo_frame_tag dom_id(post) do %>
  <div class="card mt-2">
    <div class="card-body">
      <h5>Post - <%= post.title  %> - <a href="<%= post.link %>" target="_blank">Ler post</a></h5>
    </div>
    <div class="card-footer">
      <%= post.description %>
    </div>
  </div>
<% end %>
