<%= turbo_frame_tag :posts do %>
  <div class="card mt-3">
    <div class="card-header bg-white">
      <h3 class="card-title">Posts</h3>
    </div>
    <div class="card-body">
      <%= turbo_frame_tag :tags, src: tags_path(site_name: params[:site_name]), loading: 'lazy' %>
      <%= render @posts %>
    </div>
  </div>
<% end %>
